header, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;
}
*{
    padding: 0px;
    margin: 0px;
}
/* ---------------REFERENCIA CON ID--------------- */
#siglas{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #830808;
    letter-spacing: 3px;
    display: inline-block;
    text-align: left;
}
.boton{
    text-align: center;
}
#titulo-principal{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #646363;
    letter-spacing: 3px;
    display: inline-block;
    text-align: left;
}
#barra-nav{
    font-size: 10;
    display: inline-block;
    list-style: none;
    padding: 5px;
    color: #646363;
    background: #F0EFEF;
    font-family: Arial, Helvetica, sans-serif;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
#barra-nav a:hover{
    color: white;
    background: #830808; 
}
#barra-nav li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: verdana, sans-serif;
    letter-spacing: 2px;
}
#seccion{
    float: left;
    width: 660px;
    margin: 30px;
}
#columna{
    float: left;
    width: 220px;
    margin: 30px 0px;
    padding: 40px;
    background: #F0EFEF;
    border: 1px solid #830808;
    text-align:initial;
}
#cabecera{
    background: #F0EFEF;
    border-top: #474747;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #830808;
}
#pie{
    clear: both;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #830808;
    border-bottom: 1px solid #830808;
    background: #868585;
    color:white;
}
#pie-dos{
    clear: both;
    text-align: center;
    padding: 10px;
    background: #868585;
    color:white;
}
#q-somos{
    font-size: 20px;
    text-align: justify;
    text-align: center;
    color:#830808;
    text-transform: uppercase;
}
#marquee {
    border-bottom: 1px solid #830808;
    font-size: 12px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#4B4A4A;
}
/* ---------------REFERENCIA CON CLASS--------------- */
.titulo{
    font-size: 20px;
    text-align: justify;
    text-align: center;
}
.titulo-aside{
    font-size: 14px;
    text-align: justify;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.subtitulo{
    font-size: 15px;
    text-align: justify;
}
.titulo_contenido{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    text-align: center;
    color: #646363;
    text-transform: uppercase;
}
.contenido{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    text-align: center;
    color: #646363;
}
.lista{
    display: inline-block;
    padding: 5px;
    font: verdana, sans-serif;
    letter-spacing: 2px;
    color: #830808;
    font-weight: bold;
}
.lista li{
    list-style-type:disc;
    font-size: 20px;
    list-style: none;
}
.valor-moneda{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #830808;
    font-weight: bold;
    display: inline-block;
}
.valor-moneda-verde{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: green;
    font-weight: bold;
    display: inline-block;
}
.titulo-moneda{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    font-weight: bold;
    display: inline-block;
}
.form-registro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    font-weight: bold;
    display: inline-block;
    align-content:center;
    text-align:initial;
}
.imagen {
    width: 160px;
    float: left;
}
.imagen_ico {
    width: 15px;
}
.verde{
    color: green;
    display: inline-block;
}
.rojo{
    color: red;
    display: inline-block;
}
.sep{
    color:#830808;
    display: inline-block;
}
/* ---------------REFERENCIA POR PALABRA CLAVE ---------------*/
body{
    text-align: center;
    background-color: #F8F8F8;
}
article{
    background: #F0EFEF;
    border: 1px solid #830808;
    padding: 10px;
    margin-bottom: 15px;
}
article footer{
    text-align: right;
    color: #646363;
}
a:link, a:visited, a:active {
    color: #646363;
    text-decoration:none;
}
/* ---------------MEDIA QUERY--------------- */
/* CAMBIAR COLOR DE FONDO */
@media (max-width: 700px) {
    body{
    background-color: #830808;
    }
}
/* NO MOSTRAR ASIDE */
@media (max-width: 1000px) {
    #columna{
        display: none;
    }
}
