header, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;
}
*{
    padding: 0px;
    margin: 0px;
}
/* ---------------REFERENCIA CON ID--------------- */
#siglas{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #830808;
    letter-spacing: 3px;
    display: inline-block;
    text-align: left;
}
#titulo-principal{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #646363;
    letter-spacing: 3px;
    display: inline-block;
    text-align: left;
}
#barra-nav{
    font-size: 10;
    display: inline-block;
    list-style: none;
    padding: 10px;
    color: #646363;
    background: #F0EFEF;
    font-family: Arial, Helvetica, sans-serif;
    /*border-bottom: 2px solid #830808; */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
#barra-nav a:hover{
    color: #830808;
    background:  #646363;   
}
#barra-nav li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: verdana, sans-serif;
    letter-spacing: 3px;
}
#seccion{
    float: left;
    width: 660px;
    margin: 20px;
}
#columna{
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: #F0EFEF;
    border: 1px solid #830808;
}
#cabecera{
    background: #F0EFEF;
    border-top: #474747;
    border-bottom: 2px solid #830808;
    padding: 14px;
    text-align: left;
}
#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #830808;
    background: #868585;
}
/* ---------------REFERENCIA CON CLASS--------------- */
.titulo{
    font-size: 20px;
    text-align: justify;
    text-align: center;
}
.subtitulo{
    font-size: 15px;
    text-align: justify;
}
.titulo_contenido{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    text-align: center;
    color: #646363;
    text-transform: uppercase;
}
.contenido{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    text-align: center;
    color: #646363;
}
.lista{
    display: inline-block;
    padding: 5px;
    font: verdana, sans-serif;
    letter-spacing: 2px;
    color: #830808;
    font-weight: bold;
}
.lista li{
    list-style-type:disc;
    font-size: 20px;
    list-style: none;
}
.valor-moneda{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #830808;
    font-weight: bold;
    display: inline-block;
}
.titulo-moneda{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    font-weight: bold;
    display: inline-block;
}
/* ---------------REFERENCIA POR PALABRA CLAVE ---------------*/
body{
    text-align: center;
    background-color: white;
}
article{
    background: #F0EFEF;
    border: 1px solid #830808;
    padding: 10px;
    margin-bottom: 15px;
}
article footer{
    text-align: right;
    color: #646363;
}
img {
    width: 160px;
    float: left;
}
/* ---------------MEDIA QUERY--------------- */
/* CAMBIAR COLOR DE FONDO */
@media (max-width: 700px) {
    body{
    background-color: #830808;
    }
}
/* NO MOSTRAR ASIDE */
@media (max-width: 1000px) {
    #columna{
        display: none;
    }
}
